*,
*:before,
*:after {
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

body {
  display: flex;
  align-items: center;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

strong {
  font-weight: 700;
}

#app {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 1080px;
  width: inherit;
  height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow: hidden;

  .sidebar svg {
    display: block;
    min-width: 10px;
    min-height: 10px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
}

iframe {
  width: 0;
  height: 0;
}

.bg-pink {
  background-color: $t2ds-pink;
}

.fade,
.slideLeft {
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.fade {
  animation-name: fade;
}

.slideLeft {
  animation-name: slideLeft;

  &.small {
    animation-name: slideLeftModified;
  }
}

.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  svg {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
  }
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slideLeft {
  0% { transform: translateX(-310px); }
  100% { transform: translateX(0); }
}

@keyframes slideLeftModified {
  0% { transform: translate3d(-310px, -50%, 0); }
  100% { transform: translate3d(0, -50%, 0); }
}

@keyframes fadeInUp {
  0% {
    margin: 0;
    opacity: 0;
  }
  100% {
    margin-top: -25px;
    opacity: 1;
  }
}