.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header,
.modal-body,
.modal-footer {
  position: relative;
  padding: 20px 30px;
}

.modal-header {
  background-color: $t2ds-pink;
}

.modal-header-actions {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;

  .modal-close {
    color: #fff;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.modal-header h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  color: #f5f5f5;
}

.modal-default-button {
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  color: #fff;
  border: 1px solid $t2ds-pink;
  background-color: $t2ds-pink;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: darken($t2ds-pink, 8%);
    background-color: darken($t2ds-pink, 8%);
  }
}

.modal-body .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  h5 {
    width: 60%;
  }

  .social-share {
    width: 40%;
  }

  h5 {
    font-size: 1.65rem;
    font-weight: 900;
    text-transform: uppercase;
  }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}