<template>
  <main :class="['preview', { 'bathroom' : this.configurator.name == 'Bathroom' }]">
    <img ref="base_image" class="base-img" :src="base_image" alt="Base Image">
    <img
      v-if="has_overlay"
      v-for="(overlay, index) in overlay_collection"
      :key="`overlay_${index}`"
      :src="overlay"
      ref="overlay_image"
      class="overlay-img"
      alt="Overlay Image"
    >
    <img ref="watermark" class="watermark" :src="mycolourlogo" alt="Watermark">
    <iframe id="iframe"></iframe>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import { EventBus } from "../../eventBus";
import path from "path";
import FileSaver from "file-saver";
import jsPDF from "jspdf";
import mycolourlogo from "@/assets/mycolour-dark.png";
import { detect } from "detect-browser";
import "blueimp-canvas-to-blob";

export default {
  name: "Preview",
  data() {
    return {
      browser: detect(),
      mycolourlogo: mycolourlogo
    };
  },
  computed: {
    ...mapGetters([
      "combination",
      "configurator",
      "has_overlay",
      "active_materials",
      "excluded_overlays",
      "selected_materials",
      "price"
    ]),
    base_image() {
      return `./Configurations/${this.configurator.name}/${
        this.configurator.style
      }/${this.configurator.style}_${this.combination}.jpg`;
    },
    overlay_collection() {
      let overlays = this.active_materials;
      this.excluded_overlays.forEach(ex => {
        overlays = overlays.filter(item => item.indexOf(ex) === -1);
      });
      return overlays;
    },
    overlay_combination() {
      if (!this.has_overlay) return "";
      let combination = this.active_materials.map(overlay =>
        path.basename(overlay, path.extname(overlay))
      );
      return combination.join("");
    },
    is_print_unavailable() {
      return this.browser && this.browser.name === "ie";
    }
  },
  mounted: function() {
    EventBus.$on("download", this.download);
    EventBus.$on("print", this.scaffold_print);
    EventBus.$on("social", this.handle_social);
    window.scrollTo(0, document.body.scrollHeight);
  },
  methods: {
    generate_canvas() {
      let canvas = document.createElement("canvas");
      const ctx = canvas.getContext("2d");

      canvas.width = 1920;
      canvas.height = 1080;

      ctx.drawImage(this.$refs.base_image, 0, 0);

      if (this.has_overlay && this.$refs.overlay_image) {
        this.$refs.overlay_image.forEach(img => ctx.drawImage(img, 0, 0));
      }

      this.$refs.watermark.width = 125;
      this.$refs.watermark.height = 35;

      ctx.drawImage(this.$refs.watermark, 1425, 975);
      return canvas;
    },
    generate_base64(url = "", has_background = false) {
      return new Promise((resolve, reject) => {
        if (url === "") {
          reject("Url cannot be empty!");
          return false;
        }

        let canvas = document.createElement("canvas");
        const ctx = canvas.getContext("2d");

        const image = new Image();
        image.src = url;
        image.onload = () => {
          // Set canvas's dimensions
          canvas.width = image.width + 30;
          canvas.height = image.height + 30;

          // Fill the canvas width grey background
          if (has_background) {
            ctx.fillStyle = "#eee";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
          }

          // Insert the image
          ctx.drawImage(image, 15, 15);

          resolve(canvas.toDataURL());
        };
      });
    },
    download() {
      const canvas = this.generate_canvas();
      canvas.toBlob(blob => {
        FileSaver.saveAs(blob, "configurator.png");
      });
    },
    handle_social() {
      const base_url = window.location.href.replace(window.location.hash, "");
      const url = `${base_url}#/${this.$router.currentRoute.name}/${
        this.$router.currentRoute.params.type
      }/${this.combination}/${this.overlay_combination}`;
      this.$store.dispatch("set_social_url", url);
    },
    alert_unsupported_browser() {
      alert(
        "IE is not supported for printing. Please use Chrome, Mozilla, or Edge."
      );
    },
    init_pdf() {
      return new jsPDF({
        orientation: "portrait",
        unit: "px",
        format: "a4"
      });
    },
    scaffold_print() {
      // if print is unavailable, abort function
      if (this.is_print_unavailable) {
        this.alert_unsupported_browser();
        return false;
      }

      // Get configurator image and intialize pdf
      const canvas = this.generate_canvas();
      const main_image = canvas.toDataURL("image/jpg");
      let doc = this.init_pdf();

      // pdf page defaults
      const page_width = doc.internal.pageSize.getWidth();
      const page_height = doc.internal.pageSize.getHeight();

      // Calculate image height
      const image_height = page_height - 375;

      // Insert configurator image
      doc.addImage(main_image, "JPEG", 0, 0, page_width, image_height);

      // Get the space after the configurator image
      let offset_y = image_height + 20;

      // Insert heading title
      doc.setTextColor(250, 124, 120);
      doc.setFontType("bold");
      doc.text("KITCHEN CONFIGURATOR", 15, offset_y);

      doc.setTextColor(51, 51, 51);
      doc.setFontType("normal");
      doc.text("YOUR PERSONALIZED OPTIONS", 172, offset_y);

      // Set text size and insert footer text
      doc.setFontSize(8.5);
      doc.text(
        "Please Note: Images and specifications are to be used as a guide only and are visual representations\nintended to portray the suppliers range of materials on the development and cannot be regarded as fact.\nAll information, specifications, renderings, visual representations and plans are correct at the time of\npublication. Revision Date: October 2018",
        130,
        page_height - 40
      );

      doc.setFontSize(10);
      offset_y += 10;

      // Insert selected materials
      this.insert_selected_items(doc, offset_y).then(() => {
        // Pink rectangle
        doc.setFillColor(250, 124, 120);
        doc.rect(245, page_height - 145, 181, 90, "F");

        // Price
        doc.setTextColor(255, 255, 255);
        doc.setFontType("bold");
        doc.setFontSize(10.5);
        doc.text(
          "ORDER TOTAL* (Including Options): £" + this.price,
          250,
          page_height - 135
        );

        // Text Label
        doc.setFontSize(10);
        doc.text("Name:", 250, page_height - 120);

        // Textbox
        doc.setFillColor(238, 238, 238);
        doc.rect(250, page_height - 115, 170, 20, "F");

        // Text Label
        doc.text("Date:", 250, page_height - 85);

        // Textbox
        doc.setFillColor(238, 238, 238);
        doc.rect(250, page_height - 80, 170, 20, "F");

        // Insert Footer Image
        this.generate_base64("Configurations/mycolour-dark.png").then(
          base64 => {
            doc.addImage(base64, "PNG", 15, page_height - 40, 100, 20);
            this.print(doc);
          }
        );
      });
    },
    insert_selected_items(doc, start_position) {
      return new Promise(resolve => {
        let length = this.selected_materials.length;
        let counter = 0;

        let column_width = doc.internal.pageSize.getWidth() / 4;
        let x = 22;

        this.selected_materials.forEach((item, index) => {
          const url = `Configurations/${this.configurator.name}/maps/${
            item.name
          }_${item.material.name}.PNG`;
          this.generate_base64(url, true).then(base64 => {
            const multiple = counter % 4;
            x = column_width * multiple + 22;

            if (index !== 0 && multiple === 0) {
              x = 22;
              start_position += 100;
            }

            counter++;

            doc.addImage(base64, "PNG", x, start_position, 70, 70);

            const text_y_position = start_position + 80;
            const item_material_name = item.material.name.replace(/_/g, " ");

            doc.setTextColor(250, 124, 120);
            doc.setFontType("bold");
            doc.text(item.name, x, text_y_position);

            doc.setTextColor(51, 51, 51);
            doc.setFontType("normal");
            doc.text(item_material_name, x, text_y_position + 10);

            if (counter === length) {
              resolve();
            }
          });
        });
      });
    },
    print(doc) {
      if (!doc) return;
      doc.autoPrint();

      const iframe = document.getElementById("iframe");

      switch (this.browser && this.browser.name) {
        case "chrome":
        case "edge":
          iframe.src = doc.output("bloburl");
          break;
        case "firefox":
          window.open(doc.output("bloburl"));
          break;
        default:
          break;
      }
    }
  }
};
</script>
