<template>
  <main class="preview">
    <img ref="base_image" class="base-img" :src="base_image" alt="Base Image">
    <img
      v-if="has_overlay"
      v-for="(overlay, index) in overlay_collection"
      :key="`overlay_${index}`"
      :src="overlay"
      ref="overlay_image"
      class="overlay-img"
      alt="Overlay Image"
    >
    <iframe id="iframe"></iframe>
  </main>
</template>

<script>
import { mapGetters } from "vuex";
import { EventBus } from "../../eventBus";
import path from "path";
import FileSaver from "file-saver";
import jsPDF from "jspdf";
import mycolourlogo from "@/assets/mycolour.png";
import { detect } from "detect-browser";
import "blueimp-canvas-to-blob";

export default {
  name: "Preview",
  data() {
    return {
      browser: detect()
    };
  },
  computed: {
    ...mapGetters([
      "combination",
      "configurator",
      "has_overlay",
      "active_materials",
      "excluded_overlays",
      "selected_materials",
      "social"
    ]),
    base_image() {
      return `./Configurations/${this.configurator.name}/${
        this.configurator.style
      }/${this.configurator.style}_${this.combination}.jpg`;
    },
    overlay_collection() {
      let overlays = this.active_materials;
      this.excluded_overlays.forEach(ex => {
        overlays = overlays.filter(item => item.indexOf(ex) === -1);
      });
      return overlays;
    },
    overlay_combination() {
      if (!this.has_overlay) return "";
      let combination = this.active_materials.map(overlay =>
        path.basename(overlay, path.extname(overlay))
      );
      return combination.join("");
    },
    is_print_unavailable() {
      return this.browser && this.browser.name === "ie";
    }
  },
  mounted: function() {
    EventBus.$on("download", this.download);
    EventBus.$on("print", this.print);
    EventBus.$on("social", this.generate_base64);
    window.scrollTo(0, document.body.scrollHeight);
  },
  methods: {
    generate_image_base64(
      url = "",
      canvasWidth = 1920,
      canvasHeight = 1080,
      overrideDimensions = false
    ) {
      if (url === "") return false;

      return new Promise(resolve => {
        let canvas = document.createElement("canvas");
        let ctx = canvas.getContext("2d");

        canvas.width = canvasWidth;
        canvas.height = canvasHeight;

        const image = new Image();
        image.src = url;
        image.onload = () => {
          if (overrideDimensions) {
            canvas.width = image.width;
            canvas.height = image.height;
          }

          ctx.drawImage(image, 0, 0);
          resolve(canvas.toDataURL());
        };
      });
    },
    generate_base64(action = "social") {
      let canvas = document.createElement("canvas");
      const ctx = canvas.getContext("2d");

      canvas.width = 1920;
      canvas.height = 1080;

      ctx.drawImage(this.$refs.base_image, 0, 0);

      if (this.has_overlay && this.$refs.overlay_image) {
        this.$refs.overlay_image.forEach(img => ctx.drawImage(img, 0, 0));
      }

      const watermark = new Image();
      watermark.src = mycolourlogo;
      watermark.width = 125;
      watermark.height = 35;
      ctx.drawImage(watermark, 1425, 975);

      if (action !== "pdf") {
        watermark.onload = () => {
          canvas.toBlob(blob => {
            if (action === "social") {
              const base_url = window.location.href.replace(
                window.location.hash,
                ""
              );
              const url = `${base_url}#/${this.$router.currentRoute.name}/${
                this.$router.currentRoute.params.type
              }/${this.combination}/${this.overlay_combination}`;
              this.$store.dispatch("set_social_url", url);
              return;
            } else {
              FileSaver.saveAs(blob, "configurator.png");
            }
          });
          canvas = null;
        };
      } else {
        return canvas.toDataURL("image/jpg");
      }
    },
    download() {
      this.generate_base64("blob");
    },
    alert_unsupported_browser() {
      alert(
        "IE is not supported for printing. Please use Chrome, Mozilla, or Edge."
      );
    },
    create_pdf() {
      return new jsPDF({
        orientation: "portrait",
        unit: "px",
        format: "a4"
      });
    },
    print() {
      if (this.is_print_unavailable) {
        this.alert_unsupported_browser();
        return false;
      }

      let doc = this.create_pdf();

      const image = this.generate_base64("pdf");
      const logo = this.generate_image_base64(
        "Configurations/mycolour-dark.png",
        1920,
        1080,
        true
      );
      const length = this.selected_materials.length;

      logo.then(footerLogoBase64 => {
        const page_width = doc.internal.pageSize.getWidth();
        const page_height = doc.internal.pageSize.getHeight();
        const image_height = page_height - 375;

        doc.addImage(image, "JPEG", 0, 0, page_width, image_height);
        doc.addImage(footerLogoBase64, "PNG", 15, page_height - 40, 100, 16);

        doc.text("KITCHEN CONFIGURATOR", 15, image_height);
        doc.text("YOUR PERSONALIZED OPTIONS", 75, image_height);

        doc.setFontSize(8.5);
        doc.text(
          "Please Note: Images and specifications are to be used as a guide only and are visual representations\nintended to portray the suppliers range of materials on the development and cannot be regarded as fact.\nAll information, specifications, renderings, visual representations and plans are correct at the time of\npublication. Revision Date: October 2018",
          130,
          page_height - 40
        );

        let x = 0;
        let multiple = 0;
        let counter = 0;
        let padding = 100;

        let columnWidth = page_width / 4;

        this.selected_materials.forEach(item => {
          const item_material_name = item.material.name.replace(/_/g, " ");
          const item_image = this.generate_image_base64(
            `Configurations/${this.configurator.name}/maps/${item.name}_${
              item.material.name
            }.PNG`,
            1920,
            1080,
            true
          );
          item_image.then(itemImageBase64 => {
            if (counter % 4 === 0) {
              x = 0;
              multiple = counter / 4;
            }

            counter++;

            doc.addImage(
              itemImageBase64,
              x + 20,
              image_height + 15 + padding * multiple,
              50,
              50
            );

            doc.text(item.name, x + 20, image_height + 85 + padding * multiple);

            doc.text(
              item_material_name,
              x + 20,
              image_height + 95 + padding * multiple
            );

            x += columnWidth;

            if (counter === length) {
              console.log(doc.output("bloburl"));
            }
          });
        });
        // doc.autoPrint();

        // const iframe = document.getElementById("iframe");

        // switch (browser && browser.name) {
        //   case "chrome":
        //   case "edge":
        //     iframe.src = doc.output("bloburl");
        //     break;
        //   case "firefox":
        //     window.open(doc.output("bloburl"));
        //     break;
        //   default:
        //     break;
        // }
      });
    }
  }
};
</script>
