.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 1099;
  font-weight: 700;
  color: $t2ds-pink;
  background-color: rgba(53, 53, 53, 0.9);

  svg {
    display: block;
    width: 100px;
    height: 100px;
  }

  img {
    width: 200px;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media screen and (orientation: landscape) {
    display: none;
  }
}