.preview {
  width: inherit;
  height: inherit;

  &.bathroom {
    width: 1920px;
    height: 1080px;
    zoom: 0.9;
    margin: 0 auto;

    .overlay-img {
      left: inherit;
    }
    
  }

  img {
    user-select: none;
    -webkit-user-drag: none;
    max-width: none;

    @include respond-to(sm-down) {
      width: 100%;
    }

    @media screen and (orientation: portrait) {
      height: auto;
      width: auto;
    }
  }

  .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .watermark {
    display: none;
  }

  @include respond-to(lg-down) {
    width: 100%;
    height: auto;
  }
}