.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;

  img {
    width: 300px;
  }

  .progress {
    margin-bottom: 1rem;
    width: 300px;
    height: 0.5rem;
    max-width: 100%;

    .progress-bar {
      background-color: $t2ds-pink;
    }
  }
}