.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1090;
  width: 250px;
  height: 100%;
  color: #fff;
  background-color: rgba(89, 89, 89, 0.9);
  transition: all 250ms ease-in-out;

  &.small {
    top: 50%;
    width: 90px;
    height: auto;
    background-color: $t2ds-dark-grey;
    transform: translate3d(0, -50%, 0);

    .sidebar-header-option {
      background-color: $t2ds-grey;
    }

    img {
      margin: 25px 0 25px 35px;
      width: 35px;
    }

    p {
      position: absolute;
      top: 40%;
      margin-bottom: 0;
      margin-left: 40px;
      padding: 10px;
      font-size: 18px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      color: #fa7c78;
      transform: translateY(-110%) rotate(90deg);
      transform-origin: left top 0;
    }

    button {
      color: #fff;
      display: block;
      padding: 0.5rem 1rem;
      width: 100%;
      border: 1px solid $t2ds-pink;
      background-color: $t2ds-pink;
      cursor: pointer;

      svg {
        display: block;
        margin: 0 auto;
        width: 20px;
        height: 20px;
      }
    }
  }

  .sidebar-header {
    display: flex;
    flex-direction: column;
  }

  .sidebar-header-option {
    display: flex;

    .sidebar-header-option-group {
      width: 50%;

      button,
      a {
        display: block;
        width: 100%;
        height: 50%;
        padding: 0.5rem 0.75rem;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border: 1px solid $t2ds-light-grey;
        background-color: transparent;
        transition: all 250ms ease-in-out;
        outline: none;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
          background-color: $t2ds-pink;
        }
      }

      svg {
        display: block;
        margin: 0 auto;
        width: 20px;
        height: 20px;
      }
    }
  }

  .sidebar-header-title {
    position: relative;
    padding: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: $t2ds-pink;
    background-color: $t2ds-dark-grey;

    img {
      min-height: 32.92px;
    }

    p {
      margin-top: 1rem;
    }

    button {
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 64px;
      border: none;
      background-color: $t2ds-pink;
      cursor: pointer;

      svg {
        margin: 0 auto;
        width: 35px;
        height: 35px;
      }
    }
  }

  .sidebar-item-list {
    position: relative;
    padding: 1.5rem;
    text-align: center;

    h3 {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      font-size: 18px;
      font-weight: 700;
      color: rgba(255,255,255,0.7);
      border-bottom: 2px solid rgba(255,255,255,0.7);
    }

    .nav-list {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
      list-style: none;

      li {
        width: auto;
        min-width: 64px;
        height: 60px;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 4;
        border: 2px solid $t2ds-dark-grey;
        background-color: $t2ds-dark-grey;
        transition: all 250ms ease-in-out;
        overflow: hidden;
        cursor: pointer;

        &.active {
          border-color: $t2ds-pink;
        }
      }

      &.side {
        position: absolute;
        top: 0;
        left: 100%;
        flex-direction: column;
        width: auto;
      }
    }

    .item-list {
      height: calc(100vh - 375px);
      max-height: 760px;
      list-style: none;
      overflow: auto;

      &.side {
        height: calc(100vh - 275px);
      }

      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $t2ds-pink;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: rgba(0,0,0,0.1);
      }

      li {
        margin: 0 auto 1rem;
        max-width: 150px;
        text-align: center;

        &:hover {
          img {
            border-color: $t2ds-pink;
          }
        }

        &.active {
          img {
            border-color: $t2ds-pink;
          }
        }

        img {
          margin: 0 auto;
          width: 150px;
          margin-bottom: 1rem;
          border: 2px solid transparent;
        }
      }
    }
  }

  @include respond-to(lg-down) {
    top: unset;
    bottom: 0;
    display: flex;
    width: 100%;
    min-height: 185px;
    height: auto;
    background-color: $t2ds-grey;

    &.hid {
      transform: translateY(100%);
    }

    &.small {
      display: none;
    }

    .sidebar-header {
      flex-direction: column-reverse;
      width: 250px;
    }

    .sidebar-header-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .sidebar-header-title img {
      min-height: 1px;
    }

    .sidebar-header-title button {
      display: none;
    }

    .sidebar-header-option .sidebar-header-option-group button,
    .sidebar-header-option .sidebar-header-option-group a {
      padding: 0.685rem 0.75rem;
    }

    .sidebar-item-list {
      flex: 1;
      padding: 0;
      min-width: 350px;

      .nav-list,
      .nav-list.side {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        overflow: auto;

        li {
          width: 100%;
        }
      }

      h3 {
        display: none;
      }

      .item-list,
      .item-list.side {
        height: auto;
        text-align: left;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;

        li {
          display: inline-block;
          margin-left: 10px;
          max-width: 120px;
          vertical-align: top;

          img {
            width: 60px;
          }

          span {
            white-space: normal;
          }
        }
      }
    }
  }

  @media screen and (orientation: portrait) {
    display: none;
  }
}