.social-share {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg  {
    cursor: pointer;

    path {
      transition: all 175ms ease-in-out;
      fill: $t2ds-dark-grey;
    }

    &:hover path {
      fill: $t2ds-pink;
    }
  }
}