.fullscreen-toggler {
  display: none;
  padding: 10px;
  width: 64px;
  height: 72px;
  border: 0;
  border-radius: 0;
  background-color: $t2ds-dark-grey;
  cursor: pointer;

  &.shown {
    display: inline-block;
  }

  svg {
    margin: 0 auto;
    width: 20px;
  }

  &.main {
    width: 50px;
    height: 50px;
  }

  @include respond-to(lg-down) {
    width: 40px !important;
    height: 40px;
    background-color: $t2ds-pink;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($t2ds-pink, 5%);
    }
  }
}

.navbar-toggler {
  display: none;
  padding: 10px;
  height: 40px;
  width: 49px;
  border: 0;
  border-radius: 0;
  background-color: $t2ds-pink;
  cursor: pointer;

  .icon-bar {
    display: block;
    height: 4px;
    width: 29px;
    background: #fff;
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    box-shadow: none;

    &+.icon-bar {
      margin-top: 4px;
    }
  }

  &.open {
    .icon-bar {
      &:first-child { transform: rotate(225deg) translate(-6px, -5px); }
      &:nth-child(2) { opacity: 0; }
      &:last-child { transform: rotate(-225deg) translate(-6px, 6px); }
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    background-color: darken($t2ds-pink, 5%);
  }

  @include respond-to(lg-down) {
    display: inline-block;
  }
}

.confirm-toggler {
  padding: 0.5rem 0.75rem;
  height: 50px;
  color: #fff;
  font-size: 1rem;
  border: none;
  background-color: $t2ds-pink;
  cursor: pointer;

  &.mobile {
    height: 40px;
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: darken($t2ds-pink, 5%);
    background-color: darken($t2ds-pink, 5%);
  }

  @include respond-to(lg-down) {
    &.mobile {
      display: inline-block;
      line-height: 1.8;
    }
  }
}

.desktop-togglers {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  button {
    vertical-align: bottom;

    & + button {
      margin-left: 1rem;
    }
  }

  @include respond-to(lg-down) {
    display: none;
  }
}

.mobile-togglers {
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: 0;
  
  li {
    vertical-align: bottom;
  }
}