<template>
  <div class="home">
    <HomeHeader />
    <HomeCarousel :configurations="configurations" />
    <HomeFooter />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import HomeHeader from "@/components/Home/HomeHeader";
import HomeCarousel from "@/components/Home/HomeCarousel";
import HomeFooter from "@/components/Home/HomeFooter";

export default {
  name: "Home",
  components: {
    HomeHeader,
    HomeCarousel,
    HomeFooter
  },
  computed: {
    ...mapGetters(["configurations"])
  }
};
</script>

<style scoped>
@import url("~swiper/dist/css/swiper.css");
</style>
