<template>
  <div class="home-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div
          v-for="config in configurations"
          :key="config.name"
          class="swiper-slide"
        >
          <router-link :to="`/builder/${config.slug}`">
            <div class="home-slider-wrap" :style="`background-image: url(${config.thumb})`">
              <div class="home-slider-content">
                <h2>{{ config.name | remove_underscores }}</h2>
                <p>Some subtitle</p>
              </div>
            </div>
          </router-link>
        </div>
        <div class="swiper-slide">
          <a href="http://psdwizard.net/preview/car-configurator/v3/" target="_blank">
            <div class="home-slider-wrap bg-pink" :style="`background-image: url(${car})`">
              <div class="home-slider-content">
                <h2>Mercedes GLA</h2>
                <p>Some subtitle</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swiper from "swiper/dist/js/swiper.js";
import MercedesGLA from "@/assets/mercedes.jpg";

let carousel;

export default {
  name: "HomeCarousel",
  filters: {
    remove_underscores(text) {
      if (text === "") return;
      return text.replace(/_/gi, " ");
    }
  },
  props: {
    configurations: Array
  },
  data() {
    return {
      car: MercedesGLA
    };
  },
  mounted() {
    this.initialize_swiper();
    setTimeout(() => carousel.update(), 150);
  },
  updated() {
    carousel.destroy();
    this.initialize_swiper();
    carousel.update();
  },
  beforeDestroy() {
    carousel.destroy();
  },
  methods: {
    initialize_swiper() {
      carousel = new Swiper(".swiper-container", {
        loop: true,
        slidesPerView: 2,
        spaceBetween: 0,
        centeredSlides: true
      });

      setTimeout(() => carousel.update(), 150);
    }
  }
};
</script>
