<template>
  <footer class="home-footer">
    <p>For All Enquiries:</p>
    <p><a href="tel:01909512193">01909 512193</a></p>
    <p><a href="mailto:hello@mycolourmyway.co.uk">hello@mycolourmyway.co.uk</a></p>
  </footer>
</template>

<script>
export default {
  name: "HomeFooter"
};
</script>
