<template>
  <header class="home-header">
    <div class="header-logo-wrap">
      <img class="header-logo" src="../../assets/mycolour.png" alt="Logo">
    </div>
    <div class="header-content">
      <p>For All Enquiries: <a href="tel:01909512193">01909 512193</a> | <a href="mailto:hello@mycolourmyway.co.uk">hello@mycolourmyway.co.uk</a></p>
    </div>
  </header>
</template>

<script>
export default {
  name: "HomeHeader"
};
</script>
