.home {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: $t2ds-dark-grey;

  a {
    font-weight: 700;
    text-decoration: none;
    color: $t2ds-pink;
    
    &:hover {
      color: darken($t2ds-pink, 5%);
    }
  }

  .home-header {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    color: #fff;
    background-color: $t2ds-dark-grey;

    .header-logo {
      width: 225px;
    }
  }

  .home-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: calc(100% - 150px);

    .swiper-container {
      width: 100%;
      height: 80%;
      padding-bottom: 50px;

      .swiper-wrapper {
        margin-left: 0;
      }

      .swiper-slide {
        float: left;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: relative;
        height: 100%!important;
        width: 100%;
        height: 100%;

        text-align: center;
        transform: scale(0.92);

        a {
          color: $t2ds-dark-grey;
          text-decoration: none;
        }

        .home-slider-wrap {
          position: relative;
          height: 100%;
          border-radius: 4px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transform: scale3d(0.92, 0.92, 0.92);
          transition: all 150ms ease-in-out;

          .home-slider-content {
            position: absolute;
            top: 100%;
            left: 50%;
            opacity: 0;
            width: 100%;
            transform: translateX(-50%);

            h2 {
              font-weight: 700;
              font-size: 50px;
            }

            p {
              font-size: 18px;
              font-weight: 400;
            }
          }
        }

        &.swiper-slide-active .home-slider-wrap {
          transform: scale3d(1, 1, 1);

          .home-slider-content {
            display: block;
            animation-name: fadeInUp;
            animation-duration: 1.25s;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }

  .home-footer {
    display: none;
    min-height: 75px;
    text-align: center;
  }

  @include respond-to(lg) {
    .home-slider .swiper-container {
      height: 680px;
    }
  }

  @include respond-to(md) {
    .home-slider .swiper-container {
      height: 670px;
    }
  }

  @include respond-to(sm-down) {
    .header-content {
      display: none;
    }

    .home-slider .swiper-container {
      height: 450px;
    }

    .home-slider .swiper-container .swiper-slide .home-slider-wrap .home-slider-content h2 {
      font-size: 32px;
    }

    .home-footer {
      display: block;
    }
  }
}