<template>
  <transition leave-active-class="fade" enter-active-class="slideLeft" mode="out-in" duration="250">
    <aside v-if="!is_closed || should_force_open" :class="{hid: !toggled}" class="sidebar" key="open_sidebar">
      <ul class="mobile-togglers">
        <li class="confirm-toggler mobile" @click="confirm">Confirm Selection</li>
        <li class="fullscreen-toggler" :class="{ shown: should_fullscreen_show }" @click="go_fullscreen">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 298.667 298.667" style="enable-background:new 0 0 298.667 298.667;" xml:space="preserve">
              <polygon fill="#fff" points="42.667,192 0,192 0,298.667 106.667,298.667 106.667,256 42.667,256"/>
              <polygon fill="#fff" points="0,106.667 42.667,106.667 42.667,42.667 106.667,42.667 106.667,0 0,0"/>
              <polygon fill="#fff" points="192,0 192,42.667 256,42.667 256,106.667 298.667,106.667 298.667,0"/>
              <polygon fill="#fff" points="256,256 192,256 192,298.667 298.667,298.667 298.667,192 256,192"/>
          </svg>
        </li>
        <li class="navbar-toggler" :class="{open: toggled}" @click="toggled = !toggled">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </li>
      </ul>
      <div class="sidebar-header">
        <SidebarHeaderTitle />
      </div>
        <SidebarItemsList />
    </aside>
    <aside v-else-if="is_closed || !should_force_open" class="sidebar" :class="{small: !should_force_open}" key="close_sidebar">
      <img src="../../assets/mycolour-vertical.png" alt="Logo Vertical">
      <p>{{ configurator.name | removeUnderscores }}</p>
      <button @click="open_sidebar">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;" xml:space="preserve">
          <g>
            <path style="fill:#fff;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
              l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
              c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"/>
          </g>
        </svg>
      </button>
    </aside>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";
import { EventBus } from "../../eventBus";
import fscreen from "fscreen";
import SidebarHeaderOptions from "./SidebarHeaderOptions";
import SidebarHeaderTitle from "./SidebarHeaderTitle";
import SidebarItemsList from "./SidebarItemsList";

export default {
  name: "Sidebar",
  components: {
    SidebarHeaderOptions,
    SidebarHeaderTitle,
    SidebarItemsList
  },
  filters: {
    removeUnderscores(text) {
      const new_text = text.split("_");
      return new_text[0];
    }
  },
  data: function() {
    return {
      is_closed: false,
      should_force_open: false,
      toggled: false,
      fullscreen: false,
      width: 76
    };
  },
  computed: {
    ...mapGetters(["configurator"]),
    should_fullscreen_show() {
      return fscreen.fullscreenEnabled;
    }
  },
  mounted: function() {
    EventBus.$on("close-sidebar", this.close_sidebar);
    EventBus.$on("open-sidebar", this.open_sidebar);
    this.check_sidebar_visibility();
    window.addEventListener("resize", this.check_sidebar_visibility);
    EventBus.$emit("open-sidebar");
  },
  methods: {
    check_sidebar_visibility() {
      this.should_force_open = window.innerWidth < 1200;
      this.is_closed = !(window.innerWidth < 1200);
    },
    close_sidebar() {
      this.is_closed = true;
    },
    open_sidebar() {
      this.is_closed = false;
    },
    go_fullscreen() {
      if (fscreen.fullscreenElement) fscreen.exitFullscreen();
      else fscreen.requestFullscreen(document.getElementById("app"));
    },
    confirm() {
      EventBus.$emit("confirm");
      EventBus.$emit("social");
    }
  }
};
</script>
