<template>
  <social-sharing
    class="social-share"
    :url="social.url"
    :title="social.title"
    :description="social.description"
    :quote="social.quote"
    :hashtags="social.hashtags"
    inline-template
  >
    <div>
      <network network="facebook"><font-awesome-icon :icon="['fab', 'facebook']" size="2x" /></network>
      <network network="twitter"><font-awesome-icon :icon="['fab', 'twitter']" size="2x" /></network>
      <network network="linkedin"><font-awesome-icon :icon="['fab', 'linkedin']" size="2x" /></network>
      <network network="email"><font-awesome-icon icon="envelope" size="2x" /></network>
    </div>
  </social-sharing>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "SidebarSocialShare",
  computed: {
    ...mapGetters(["social"])
  }
};
</script>
