<template>
  <div class="sidebar-header-option">
    <div class="sidebar-header-option-group">
      <ActionHome />
      <ActionPrint />
    </div>
    <div class="sidebar-header-option-group">
      <ActionSocial />
      <ActionDownload />
    </div>
  </div>
</template>

<script>
import ActionHome from "@/components/Action/ActionHome";
import ActionPrint from "@/components/Action/ActionPrint";
import ActionDownload from "@/components/Action/ActionDownload";
import ActionSocial from "@/components/Action/ActionSocial";

export default {
  name: "SidebarHeaderOptions",
  components: {
    ActionHome,
    ActionPrint,
    ActionDownload,
    ActionSocial
  }
};
</script>
