<template>
  <section class="sidebar-item-list">
    <ul class="nav-list" :class="{side: side_nav}">
      <li
        :class="{active: c === item}"
        v-for="c in configs"
        :key="c.name"
        @click="set_active(c.id)"
        :title="c.name"
      >{{ c.name | removeUnderscores }}</li>
    </ul>
    <h3>{{ item.name | removeUnderscores }}</h3>
    <ul class="item-list" :class="{side: side_nav}">
      <li
        v-if="!item.isMultiple"
        v-for="mat in item.material"
        :key="mat.name"
        :class="{ active: mat.active }"
        @click="change_combination(item.id, mat.material_id, item.isOverlay)"
      >
        <img :src="mat.name | getThumbnail(item.name, configurator.name)" alt="Material Thumbnail">
        <span>{{ mat.name | removeUnderscores }}</span>
      </li>
      <li
        v-if="item.isMultiple"
        v-for="mat in item.material"
        :key="mat.name"
        :class="{ active: mat.active }"
        @click="add_overlay_item(item.id, mat.material_id, item.isMultiple, mat.active)"
      >
        <img :src="mat.name | getThumbnail(item.name, configurator.name)" alt="Material Thumbnail">
        <span>{{ mat.name | removeUnderscores }}</span>
      </li>
    </ul>
  </section>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "SidebarItemsList",
  filters: {
    removeUnderscores(text) {
      return text.replace(/_/gi, " ");
    },
    getThumbnail(mat_name, mat_block, config_name) {
      return `./Configurations/${config_name}/maps/${mat_block}_${mat_name}.PNG`;
    }
  },
  computed: {
    ...mapGetters({
      item: "active_set",
      configurator: "configurator",
      type: "type"
    }),
    configs() {
      return this.configurator.configs;
    },
    side_nav() {
      return this.configurator.configs.length > 3 ? true : false;
    }
  },
  methods: {
    set_active(id) {
      if (id === this.item.id) return false;
      this.$store.dispatch("set_active", id);
    },
    change_combination(id, material_id, overlay) {
      this.$store.dispatch("change_combination", { id, material_id, overlay });
    },
    add_overlay_item(id, material_id, multiple, isactive) {
      this.$store.dispatch("add_overlay_item", { id, material_id, multiple, isactive });
    }
  }
};
</script>
